@media only screen and (max-width: 1084px) {
    body {
        background-color:  antiquewhite;
    }
    
    p {
        font-size: 12px;
    }
    
    h1 {
        font-size: 25px;
    }
    
    h2 {
        font-size 20px;
    }
    img {
        max-width: 100%;
        margin-bottom: 10px;
    }
    figure {
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
@media only screen and (max-width: 469px) {
    body {
        background-color: lightyellow;
    }
    img {
        max-width: 75%;
        margin-bottom: 10px;
    }
    figure {
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;   
    }
} 
@media only screen and (min-width: 1084px) {
    body {
        background-color: aliceblue;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 45px;
    }
    img {
        max-width: 100%;
        margin-bottom: 10px;
    }
    figure {
        display: inline-block;
        flex-wrap: wrap;
        flex-direction: row;    
}
    figcaption {
        text-align: center;
    }