.topnav {
    overflow: hidden;
    background-color: grey;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: darkgray;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}